@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scrollbar-width: thin;
}



:root {
  --primary: #1f2937;
  --secondary: #af2d73;
  font-family: "Inter", sans-serif;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1677ff;
  text-shadow: 0 0 0.25px currentcolor;
  font-family: 'Inter';
}

.ant-modal-title{
  font-family: 'Inter';
}


